{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <small class="text-muted">
    Login page: <a class="ml-2" href="{% url 'login' %}">Login</a>
    </small>
</div>
<div>
    <small class="text-muted">
    Registration page: <a class="ml-2" href="{% url 'register' %}">Register</a>
    </small>
</div>

<div>
    {% for profile in profiles %}
    <small class="text-muted">
        Profile:{{ profile.user }}<br>
    </small>
    {% endfor %}
</div>
{% endblock content %}
